body {
  margin: 0;
  padding: 0;
  font: 18px Roboto;
  background: #f7f7f9;
}

a { font-weight: bold; color: #2c3e50; }

/*** Masthead ***/
#masthead {
  background: #2c3e50;
  color: #fff;
  padding: 1em 0 4em 0;
}
#masthead header { width: 960px; margin: 1em auto 4em auto; }
#masthead header a { font-weight: normal; text-decoration: none; }
#masthead header a + a { margin-left: 1em; }
#masthead header a:hover { text-decoration: underline; }
#masthead header a:last-child { float: right; }
#masthead header a img { vertical-align: middle; padding: 0 6px 2px 0; }
#masthead a { color: #fff; }
#masthead div { width: 800px; height: 250px; margin: auto; }
#masthead div img { float: left; margin-right: 2em; }
#masthead div h1 { font-size: 48px; margin: 0 0 10px 0; padding-top: 60px; }
#masthead div h2 { font-size: 24px; font-weight: 300; margin: 0; }

#masthead + p { margin-top: 40px; clear: both; }

/*** Overview ***/
#overview {
  background: #f7f7f9;
  padding: 2em 0;
  position: relative;
  height: 460px;
  overflow: hidden;
}
#overview ul {
  position: absolute;
  list-style: none;
  margin: 2em;
  padding: 0;
  top: 2em;
  width: 480px;
  right: 45%;
  font-size: 24px; font-weight: 300;
}
#overview ul li {}
#overview ul li + li { margin-top: 1em; }
#overview ul li:last-child { margin-top: 2em; }
#overview ul li a {
  padding: 10px 20px;
  background: #2980b9;
  border-radius: 5px;
  color: #fff;
  text-decoration: none
}
#overview ul li a:hover { background: #3498db; }
#overview ul + p {
  position: absolute;
  margin: 2em;
  padding: 0;
  top: 24em;
  width: 480px;
  right: 46%;
}
#overview ul + p a { margin-right: 1em; }
#overview div.term {
  position: absolute;
  top: 2em;
  left: 55%;
  width: 600px;
  max-width: 100;
}
#overview div.term > div {
  border-radius: 6px 6px 0 0;
  padding: 8px 10px;
  background: #ddd;
  height: 14px;
}
#overview div.term > div span {
  float: left;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-right: 6px;
}
#overview div.term > div span:nth-child(1) { background: #ff6159; }
#overview div.term > div span:nth-child(2) { background: #ffbe2f; }
#overview div.term > div span:nth-child(3) { background: #28ca42; }
#overview div.term pre {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 10px;
  font: 12px 'Roboto Mono';
}

/*** Footer ***/
footer {
  padding: 2em 0;
  color: #7f8c8d;
  text-align: center;
}
footer a { color: #7f8c8d; }
